annotated-doc==0.0.4
certifi==2026.2.25
charset-normalizer==3.4.6
cheroot==11.1.2
CherryPy==18.10.0
click==8.3.1
idna==3.11
jaraco.collections==5.2.1
jaraco.context==6.1.1
jaraco.functools==4.4.0
jaraco.text==4.2.0
markdown-it-py==4.0.0
mdurl==0.1.2
more-itertools==10.8.0
portend==3.2.1
Pygments==2.19.2
pyTelegramBotAPI==4.32.0
python-dateutil==2.9.0.post0
python-dotenv==1.2.2
requests==2.32.5
rich==14.3.3
setuptools==82.0.1
shellingham==1.5.4
six==1.17.0
tempora==5.8.1
typer==0.24.1
typer-slim==0.24.0
urllib3==2.6.3
zc.lockfile==4.0
